<template>
  <Navbar>
    <div class="about">
      <h1>This is an about page</h1>
    </div>
  </Navbar>
</template>
<script>
import Navbar from "@/components/Navbar";

export default {
  components: {
    Navbar,
  },
};
</script>