<template>
  <div>
    <MglMap
      :accessToken="accessToken"
      :zoom="12"
      :center="[-77.0353, 38.8895]"
      mapStyle="mapbox://styles/mapbox/light-v10"
      class="row"
      style="position: initial"
      @load="resizeMap"
      @drag="updatePos"
      @zoom="updatePos"
      :attributionControl="false"
    >
      <MglAttributionControl />
      <MglNavigationControl position="top-right" />
      <MglGeolocateControl position="top-right" />
      <MglGeolocateControl position="top-right" />
      <MglScaleControl />

      <template slot="" v-if="!creatingInProgress">
        <template slot="" v-for="task in tasks">
          <MglMarker
            v-if="task.finished == false"
            :key="task.id"
            :coordinates="[task.latitute, task.longitude]"
            @click="openPopup($event, task)"
          >
            <v-icon large color="green darken-2"> mdi-domain </v-icon>
            <!--MglPopup max-width="600" v-model="openPopup">
          <v-card class="mx-auto">
            <v-img
              src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
              height="100px"
            ></v-img>
            <v-card-text>
              {{ task.description }}
            </v-card-text>
          </v-card>
        </MglPopup-->
          </MglMarker>
        </template>
      </template>
    </MglMap>

    <v-fab-transition>
      <v-btn
        @click="openModal"
        color="green"
        dark
        absolute
        bottom
        right
        fab
        style="bottom: 20px"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>

    <v-dialog max-width="1000" v-model="showModal">
      <template v-slot:default="dialog">
        <v-form>
          <v-card>
            <v-system-bar></v-system-bar>
            <v-toolbar flat>
              <v-toolbar-title>Create a task</v-toolbar-title>
              <v-spacer></v-spacer>
              <div></div>
            </v-toolbar>
            <v-card-text>
              <v-text-field
                v-model="newTask.description"
                :counter="10"
                label="description"
                required
              />
              <v-text-field
                v-model="newTask.latitude"
                type="number"
                label="latitude"
                required
              />
              <v-text-field
                v-model="newTask.longitude"
                type="number"
                label="longitude"
                required
              />
            </v-card-text>
            <v-card-actions class="justify-end">
              <v-btn text @click="saveTask" color="green">Save</v-btn>
              <v-btn text @click="dialog.value = false" color="red"
                >close</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-form>
      </template>
    </v-dialog>

    <v-dialog max-width="1000" v-model="showTaskPopup">
      <template v-slot:default="dialog">
        <v-card>
          <v-card-text>
            <div>task: #{{ currentTask.id }}</div>
            <div class="text--primary">
              Description: {{ currentTask.description }}
            </div>
          </v-card-text>
          <v-card-actions class="justify-end">
            <v-btn text @click="finishTask" color="red">Finish task </v-btn>
            <v-btn text @click="dialog.value = false" color="green"
              >close
            </v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-dialog>

    <v-snackbar v-model="showMsg">
      {{ textNotification }}

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="showMsg = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
//import mapboxgl from "mapbox-gl";
import { mapState } from "vuex";
import {
  MglMap,
  MglMarker,
  //MglPopup,
  MglAttributionControl,
  MglNavigationControl,
  MglGeolocateControl,
  MglScaleControl,
} from "vue-mapbox";
import { VTextField } from "vuetify/lib";

export default {
  components: {
    MglMap,
    //MglPopup,
    MglMarker,
    MglNavigationControl,
    MglGeolocateControl,
    MglAttributionControl,
    MglScaleControl,
    VTextField,
  },
  name: "MyMap",
  computed: {
    ...mapState(["tasks"]),
  },
  data() {
    return {
      //hardcoded token
      accessToken:
        "pk.eyJ1Ijoibm91aGFpbGFxb3J0YXNzIiwiYSI6ImNrbTVpY2s1ZDBkbm0yd3F0a2tpb3R5OXYifQ.n4Vpfw8CuUURCuET8VsD5Q",
      showModal: false,
      dialog: false,
      showZoom: false,
      showTaskPopup: false,
      currentTask: {},
      newTask: { description: "" },
      showMsg: false,
      textNotification: "",
      creatingInProgress: false,
      mapbx: {},
    };
  },
  mounted() {
    this.initialize();
  },
  methods: {
    initialize() {
      this.$http
        .get("http://localhost:3000/tasks?finished=false")
        .then((response) => {
          this.$store.commit("setTasks", response.data); //
        });
    },
    resizeMap(map) {
      this.mapbx = map.map;
    },
    openPopup(payload, task) {
      console.log(payload, task);
      this.currentTask = task;
      this.showTaskPopup = true;
    },
    openModal() {
      this.showModal = true;
      //let center = Object.values(this.mapbx.getCenter());
      this.newTask = {};
      this.newTask.description = "";
      this.newTask.latitude = "";
      this.newTask.longitude = "";
      /*this.newTask.latitude = center[0].toString();
      this.newTask.longitude = center[1].toString();*/

      this.showMsg = true;
      this.textNotification = "Enter a location";
      this.creatingInProgress = true;
    },
    finishTask() {
      this.currentTask.finished = true;
      this.$http
        .put(
          "http://localhost:3000/tasks/" + this.currentTask.id,
          this.currentTask
        )
        .then((response) => {
          this.$store.commit("updateTask", response.data); //
          this.showTaskPopup = false;
        });
    },
    completeCreateTask() {
      this.showModal = true;
    },
    saveTask() {
      this.$http
        .post("http://localhost:3000/tasks", this.newTask)
        .then((res) => {
          this.$store.commit("addTask", res.data);
          this.newTask = {};
          this.newTask.description = "";
          this.showModal = false;
          this.textNotification = 'task created..'
          this.showMsg = true;
        });
      this.creatingInProgress = false;
    },
    updatePos() {
      if (!this.creatingInProgress) return;
      let center = Object.values(this.mapbx.getCenter());

      this.newTask.latitude = center[0].toString();
      this.newTask.longitude = center[1].toString();
    },
  },
};
</script>

<style lang="scss" global>
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.mapboxgl-canvas {
  left: 0;
}
</style>