<template>
  <v-card class="overflow-hidden">
    <v-app-bar
      absolute
      color="#43a047"
      dark
      shrink-on-scroll
      prominent
      src="https://www.contactforestier.be/media/1298/scolytes.jpg?width=1140" 
      fade-img-on-scroll
      scroll-target="#scrolling-techniques-5"
      scroll-threshold="500"
    >
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(55,236,186,.7), rgba(25,32,72,.7)"
        ></v-img>
      </template>


       <v-avatar>
      <img
        src="https://content.digitalwallonia.be/profile/13295-20180801101454000/timbtrack.jpg"
        alt="John"
      >
    </v-avatar>

      <v-app-bar-title>Welcome to our platform </v-app-bar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </v-app-bar>
    <v-sheet
      id="scrolling-techniques-5"
      class="overflow-y-auto"
      max-height="100vh"
    >
      <v-container style="height: 100vh; padding-top:120px;">
          <router-view/>
      </v-container>
    </v-sheet>
  </v-card>
</template>
