<template>
  <div class="">
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-card ref="form">
        <v-system-bar></v-system-bar>
        <v-toolbar flat>
          <v-toolbar-title>les taches</v-toolbar-title>
          <v-spacer></v-spacer>
          <div></div>
        </v-toolbar>
        <v-card-text>
          <v-text-field
            v-model="newTask.description"
            :counter="10"
            label="description"
            required
          />
          <v-text-field
            v-model="newTask.latitute"
            :counter="10"
            label="latitute"
            required
          />
          <v-text-field
            v-model="newTask.longitude"
            :counter="10"
            label="longitute"
            required
          />
        </v-card-text>

        <v-btn color="green" text @click="addTask"> Ajouter </v-btn>

        <!-- <ul v-for="task in tasks" :key=task.name>
        <li> {{task.name}} </li>
        <li> {{task.description}} </li>
    </ul> -->
      </v-card>
    </v-form>
    <v-card>
      <v-card-title>
        <span class="headline">Liste des taches </span>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="tasks"
        :items-per-page="5"
        item-key="id"
        class="elevation-1 mt-4"
        :footer-props="{
          showFirstLastPage: true,
          firstIcon: 'mdi-arrow-collapse-left',
          lastIcon: 'mdi-arrow-collapse-right',
          prevIcon: 'mdi-minus',
          nextIcon: 'mdi-plus',
        }"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col>
                        <v-text-field
                          v-model="editedItem.description"
                          label="Description"
                        ></v-text-field>
                        <v-text-field
                          v-model="editedItem.latitute"
                          label="latitute"
                        ></v-text-field>
                        <v-text-field
                          v-model="editedItem.longitude"
                          label="longitude"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close"
                    >Cancel</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>

        <template v-slot:item.action="{ item }">
          <v-btn
            class="ma-2"
            outlined
            fab
            color="indigo"
            @click="editItem(item)"
            ><v-icon>mdi-pencil</v-icon></v-btn
          >
          <v-btn color="error" small @click="deleteItem(item)">Delete</v-btn>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { mapState } from "vuex"; 
export default {
  name:'tasks',
  computed: {
    ...mapState(["tasks"]),
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  data() {
    return {
      description: "",
      latitute:"",
      longitude:"",
      newTask: { description: "" },
      valid: true,
      headers: [
        { text: "Description", value: "description" },
        {text:"latitute",value:"latitute"},
        {text:"longitude",value:"longitude"},
        { text: "Actions", value: "action" },
      ],
      dialog: false,
      editedIndex: -1,
      editedItem: {
        description: "",
        latitute:"",
        longitude:""
      },
      defaultItem: {
        description: "",
        latitute:"",
        longitude:""
      },
    };
  },
  created() {
    this.initialize();
  },
  methods: { //on recupere que les tache terminé (task.finished=true)
    initialize() {
      this.$http.get("http://localhost:3000/tasks?finished=false").then((response) => {
        this.$store.commit("setTasks", response.data);
      });
    },

    addTask() { //on recupére les donnés saisie et on les pousse vers notre fichier json 
      this.$http.post("http://localhost:3000/tasks",this.newTask)
        .then((res) => {
          this.$store.commit("addTask", res.data);
          this.newTask={},
          this.newTask.description = "";
          this.newTask.latitude = "";
          this.newTask.longitude = "";

        });
    },

    deleteItem(item) {//on recupere l'index de la ligne selectionné et on supprime 
       const index = this.tasks.indexOf(item)
                if (confirm('Are you sure you want to delete this item?')) {
                    this.$http.delete(`http://localhost:3000/tasks/${this.tasks[index].id}`)
                        .then(() => {
                            this.tasks.splice(index, 1) //la methode splice retire un element du tableau
                        })
    }
    },

    editItem(item) {  // pour afficher le dialog de l'edition d'un element selectionné  d'une tache et la modifier 
      this.editedIndex = this.tasks.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    save() {
      if (this.editedIndex > -1) {
        if (this.editedIndex > -1) {
          this.$http
            .put(
              `http://localhost:3000/tasks/${this.tasks[this.editedIndex].id}`,
              this.editedItem
            )
            .then(() => {
              Object.assign(this.tasks[this.editedIndex], this.editedItem);
            });
        } else {
          this.$http
            .post(
              "http://localhost:3000/tasks",
              this.editeditem.description,
              this.editeditem.latitute,
              this.editeditem.longitude
            )
            .then(() => {
              this.tasks.push(
                this.editedItem.description,
                this.editeditem.latitute,
                this.editeditem.longitude
              );
            });
        }
        this.close();
      }
    },
  }
  
};
</script>
