<template>
  <v-app id="app">
    <navbar v-if="!isHome()">
      <router-view />
    </navbar>
    <router-view v-if="isHome()" />
  </v-app>
</template>

<script>
import Navbar from "./components/Navbar";

export default {
  name: "App",
  components: {
    Navbar,
  },
  methods: {
    isHome() {
      return this.$router.history.current["path"] == "/";
    },
  },
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
